.my-button {
    display: inline-block;
    margin: 5px;
    background: #93baf9;
    color: #333;
    font-size: 1.2em;
    font-family: ‘Georgia’, serif;
    font-style: italic;
    border-radius: 50px;
    padding: 2px 4px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.my-button:hover {
    background: #666;
    color: #c1e1e0;
}